echo streamlit > requirements.txt
echo pillow >> requirements.txt
echo ultralytics >> requirements.txt
echo opencv-python-headless >> requirements.txt
echo numpy >> requirements.txt
echo matplotlib >> requirements.txt
echo torch >> requirements.txt
echo torchvision >> requirements.txt
echo torchaudio >> requirements.txt
echo split-folders >> requirements.txt
